
<!DOCTYPE html>
<html>
    <head>
    <% include home/head.ejs %>
    </head>
    <body>
    <%include chat/chatD.ejs%>
    <div>
      </div>
        <footer>

            <% include home/footer.ejs %>
        </footer>
    </body>

</html>
